<div class="flex-row posts">
    <article class="card" style="width: 60rem">
        {{#each posts}}
        <div class="">
            <h3>
                {{title}}
            </h3>

        </div>

        <div class="card-text">
            <p>{{body}}</p>
        </div>
        {{/each}}
    </article>
</div>