<div class="flex-row posts">
    <article class="card" style="width: 60rem">
        {{#each posts}}
        <div class="post">
            <h3>
                <a class="post-title" href="/post/{{id}}">{{title}}</a>
            </h3>
            <div class="post-user">
                Posted By {{User.username}}
            </div>
            <div class="card-text">
                <p>{{body}}</p>
            </div>
        </div>
        {{/each}}
</div>


</article>
</div>