<div class="card">
  <div>
    <h2> LOGIN </h2>
  </div>

  <div>
    <form id="login-form" class="card-body">
      <div>
        <input type="text" id="username-login">
      </div>
      <div>
        <input type="password" id="password-login">
      </div>
      <input id="cmt-submit-bt" type="submit" id="login-submit-bt" value="LOGIN">
    </form>
  </div>
</div>

<script src="/js/login.js"></script>