<div class="post card">
    <div class="card-header">
        <h2>NEW POST</h2>
    </div>
    <form id="new-post-form" class="card-body">
        <h5> Title : </h5>
        <input type="text" id="post-title" class="form-input" />
        <br>
        <h5> Body : </h5>
        <textarea id="post-body" class="form-input"></textarea>
        <br>
        <button id="cmt-submit-bt" type="submit" class="btn btn-success">Create</button>
    </form>
</div>

<script src="/js/post.js"></script>