<div class="card">
    <div class="card-header">
        <h2> Sign up </h2>
    </div>
        <div id="signup">
            <form id="signup-form">
                <div>
                    <input type="text" id="signup-name" placeholder="Enter Username">
                    <input type="text" id ="signup-password" placeholder = "Enter Password">
                    <input type="submit" id="cmt-submit-bt" class="btn btn-primary"></input>
                </div>
            </form>
        </div>
    </div>

<script src="/js/signup.js"></script>
